body{
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
canvas{
	width: 100%;
	height: 100%;
	pointer-events: none;
}
#output{
  font-size: 66px;
  color: #660DB5;
  text-align: left;
  position: fixed;
  bottom: 18px;
  left: 315px;
}

#progress {
  background: #660DB5;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 16px;
  width: 0%;
}
img#connect-leap{
  max-width: 100%;
}
#plots{
	position: fixed;
	left: 0px;
	bottom: -33px;
	width: 300px;
	height: 150px;
}
#main{
	height: 100%;
	width: 100%;
	margin: 0;
}